<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>LOG IN</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <script>
        $(function () {
            // 点击图片切换验证码
            $("#vcodeImg").click(function () {
                $(this).prop("src", "/SSM/cpacha/loginCpacha?t=" + new Date().getTime());    //为了避免浏览器的缓存机制，改变参数
            });
            $(".txtb input").on("focus", function () {
                $(this).addClass("focus");
            });
            $(".txtb input").on("blur", function () {
                if ($(this).val() == "")
                    $(this).removeClass("focus");
            });
        });
    </script>
</head>
<body>

<form th:action="@{/user/login}" method="post" class="login-form">
    <h1>Log In</h1>
    <div class="txtb">
        <input type="text" id="userName" name="userName" placeholder="请输入userName:" required>
    </div>
    <div class="txtb">
        <input type="password" id="password" name="password" placeholder="请输入password:" required>
    </div>
    <p>
    <div style="float: left">
        <img id="vcodeImg" th:src="@{/cpacha/loginCpacha}" width="100px">
    </div>
    <input type="text" name="vcode" placeholder="请输入验证码" style=" width: 130px; height: 30px; margin-left:50px;  "
           required>
    </p>
    <input type="submit" value="Log In" class="logbtn">
    <input type="reset" value="reset" class="logbtn"/>
    <div class="info" style="text-align: center" th:text="${error}"></div>
    <div class="bottom-text">
        Don't have account?<a th:href="@{/toRegister}">Sign up</a><br/>
        © 2021 Designed by @wyl
    </div>
</form>


</body>
</html>